.q-page {
  min-height: 80vh;
}

.organizacao-estrutura {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
}

.organizacao-titulo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: 10px;
}
.q-page {
  min-height: 80vh; /* Ajuste a altura mínima conforme necessário */
}
.q-card {
  width: 100%;
}
.q-table {
  background-color: white; /* Fundo branco para a tabela */
  color: black; /* Cor do texto preta */
}
.q-table th,
.q-table td {
  background-color: white; /* Fundo branco para as células */
  color: black; /* Cor do texto preta */
}
.q-table tbody tr:nth-child(odd) td {
  background-color: #f0f0f0; /* Cor de fundo para linhas ímpares */
}
.q-table tbody tr:nth-child(even) td {
  background-color: white; /* Cor de fundo para linhas pares */
}
.body-2 {
  font-size: 14px !important; /* Tamanho da fonte menor */
}

.organizacao-estrutura {
  background-color: #f0f0f0; /* Cor de fundo destacada */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 20px; /* Margem inferior */
}

.organizacao-titulo {
  font-size: 1.5rem; /* Tamanho do título */
  font-weight: bold; /* Negrito */
  color: #333; /* Cor do texto */
  text-align: left; /* Alinhamento à esquerda */
  margin-bottom: 10px; /* Margem inferior */
}

.tabela-classes {
  height: calc(100vh - 230px); /* Ajuste a altura da tabela conforme necessário */
  overflow-y: auto; /* Adicionar scroll vertical se necessário */
}
