
.criar-objeto-container {
  padding: 5px;
}

.criar-objeto-container h2 {
  margin-bottom: 5px;
}

.criar-objeto-container .q-form {
  display: flex;
  flex-direction: column;
}

.criar-objeto-container .q-input {
  margin-bottom: 5px;
}

.criar-objeto-container .q-btn {
  margin-top: 20px;
}
.criar-objeto-container {
  display: flexbox;
  justify-content: left;
  align-items: center;
  width: auto;

}

.text-h6 {
  font-size: 1.25rem;
  font-weight: 500;
}
